Package: mw-pxeboot
Version: 1.0.0-2
Architecture: all
Section: admin
Priority: optional
Maintainer: Tim Hosking <munger@mungerware.com>
Depends: ipmitool, efibootmgr
Description: Set next boot to PXE and reboot
 Provides the mw-pxeboot command for setting a server's next boot
 to PXE via ipmitool (Dell/iDRAC) or efibootmgr (UEFI systems).
